---
import AboutGridItem from '@components/common/AboutGridItem.astro'
import SocialIcons from '@components/Footer/SocialIcons.astro'
import { useLocale } from '@i18n/useLocale'
import Layout from '@layouts/Layout.astro'

const { t } = useLocale(Astro.url)

const items = [
	{
		content: t('about.philosophy1')
			
	},
	{
		content: t('about.philosophy2')
	},
	{
		content: t('about.philosophy3')
	},
	{
		content: t('about.philosophy4')
	},
	{
		content: t('about.philosophy5')
	}
]
---

<Layout title={t('nav.about')}>
	<div
		class='w-full h-[550px] px-2 flex items-center justify-center overflow-hidden'
	>
		<img
			src='/XXXL.webp'
			alt='Event preview'
			class='w-full h-full object-cover rounded-lg'
		/>
	</div>
	<section
		class='flex flex-col justify-center items-center text-center max-w-200 mx-auto'
	>
		<h2 class='text-3xl font-semibold mt-2'>{t('about.title1')}</h2>
		<h3 class='mt-2 text-lg font-medium'>
			{t('about.heading')}		</h3>
	</section>

	<section class='container mx-auto'>
		<h2 class='text-3xl font-semibold mt-2'>{t('about.title2')}</h2>
		<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10'>
			{
				items.map((item, index) => (
					<AboutGridItem position={index + 1} content={item.content} />
				))
			}
		</div>
	</section>

	<div class='text-center max-w-md mx-auto mt-5'>
		<h2 class='text-2xl font-bold mb-6'>{t('about.title3')}</h2>

		<div class='space-y-6 text-lg'>
			<p>
				{t('contact.reviews')} <a
					href='mailto:quality.control@grnhs.ru'
					class='text-green-600 underline'>quality.control@grnhs.ru</a
				>
			</p>

			<p>
				{t('contact.franchise')} <a
					href='mailto:franch@grnhs.ru'
					class='text-green-600 underline'>franch@grnhs.ru</a
				>
			</p>

			<p>
				{t('contact.suppliers')}<br />
				<a href='mailto:products@grnhs.ru' class='text-green-600 underline'
					>products@grnhs.ru</a
				>
			</p>

			<p>
				{t('contact.advertising')}:<br />
				<a href='mailto:reklama@grnhs.ru' class='text-green-600 underline'
					>reklama@grnhs.ru</a
				>
			</p>

			<p>
				{t('contact.wholesale')} <a
					href='mailto:opt@grnhs.ru'
					class='text-green-600 underline'>opt@grnhs.ru</a
				>
			</p>

			<p>
				{t('contact.employment')} <a
					href='mailto:hr@grnhs.ru'
					class='text-green-600 underline'>hr@grnhs.ru</a
				>
			</p>

			<p>
				{t('contact.general')} <a
					href='mailto:hello@grnhs.ru'
					class='text-green-600 underline'>hello@grnhs.ru</a
				>
			</p>
		</div>
		<div class='mt-5'>
			<SocialIcons />
		</div>
	</div>
</Layout>
