---
import MainBlock from '@components/common/MainBlock.astro'
import Layout from '../../layouts/Layout.astro'
import '../../styles/global.css'
import { useLocale } from '@i18n/useLocale'
import { ROUTES } from '@config/routes'
import type { MainBlockType } from 'src/types/types'
import axios from 'axios'

const { translatePath, t } = useLocale(Astro.url)

const apiUrl = import.meta.env.API_URL

const response = await axios.get(`${apiUrl}/banner/get-all`)

const items: MainBlockType[] = await response.data

---

<Layout title={t('nav.index')}>
	<div class='container-max mx-auto flex flex-col gap-4'>
		{
			items
				.sort((a, b) => a.position - b.position)
				.map(item => <MainBlock {...item} />)
		}
	</div>
</Layout>
