---
import AppMenu from '@components/Menu/Vue/AppMenu.vue'
import { ROUTES } from '@config/routes'
import { useLocale } from '@i18n/useLocale'
import CoffeeLoading from '@icons/CoffeeLoading.astro'
import Layout from '@layouts/Layout.astro'

const { t, translatePath } = useLocale(Astro.url)
---

<Layout title={t('nav.menu')}>
	<section class='container mx-auto'>
		<div class='w-full flex gap-2'>
			<a
				href={translatePath(ROUTES.menu)}
				class='text-sm text-green-700 cursor-pointer'>{t('menu.ordinary')}</a
			>
			<a
				href={translatePath(ROUTES.simplifiedMenu)}
				class='text-sm hover:text-green-700 cursor-pointer hover:underline'
				>{t('menu.simplified')}</a
			>
		</div>
		<AppMenu client:only='vue'>
			<div slot='fallback'>
				<CoffeeLoading />
			</div>
		</AppMenu>
	</section>
</Layout>
