---
import '../styles/global.css'
// Supports weights 100-900
import '@fontsource-variable/inter'

interface Props {
	title: string
	footer?: boolean
}

const { title, footer = true } = Astro.props
const siteName = 'Сеть кофеен'

import { getLangFromUrl } from '../i18n/utils'
import AppHeader from '../components/Header/AppHeader.astro'
import { ClientRouter } from 'astro:transitions'
import AppFooter from '@components/Footer/AppFooter.astro'

const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang} data-theme='light'>
	<head>
		<ClientRouter />
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<link rel='icon' type='image/svg+xml' href='/logo_svg.svg' />
		<meta name='generator' content={Astro.generator} />

		<title>{title ? `${title} | Green House` : siteName}</title>
		<meta
			name='description'
			content='Green House — уютная кофейня в центре Красноярска. Натуральный кофе, свежая выпечка и приятная атмосфера.'
		/>

		<meta
			name='keywords'
			content='кофейня, кофе, Красноярск, Green House, капучино, эспрессо'
		/>

		<meta property='og:type' content='website' />
		<style>
			body {
				font-family: 'Inter Variable', sans-serif;
			}
		</style></head
	>

	<body class='flex flex-col h-screen'>
		<AppHeader />
		<main class='flex-1'>
			<slot />
		</main>
		{footer && <AppFooter />}
	</body>
</html>
